<div class="p-4">
    <div class="container">
        <h1 style=" text-transform: capitalize;">Hi {{user.firstName}}!</h1>
        <p>Welcome to Subscription Management Tool</p>
        <!-- <p><a routerLink="/users">Manage Users</a></p> -->
        <div class="main" style="margin-top: 100px;">
            <div style="width: 100px; float:left; height:100px; margin:70px">
                <a class="Icon-Net nav-link" (click)="Netflix()">
                    <img [src]="'/assets/images/netflixlogo.png'" style="width: 100px; height: 100px;" alt="image">
                </a>
                <h2 style="padding:20px ;">Hotstar</h2>
             </div>
             <div style="width: 100px; float:left; height:100px;  margin:70px">
                <a class="Icon-Net nav-link" (click)="Netflix()">
                    <img [src]="'/assets/images/netflixlogo.png'" style="width: 100px; height: 100px;" alt="image">
                </a>
                <h2 style="padding:20px ;">Aha</h2>
            </div>
            <div style="width: 100px; float:left; height:100px; margin:70px">
                <a class="Icon-Net nav-link" (click)="Netflix()">
                    <img [src]="'/assets/images/netflixlogo.png'" style="width: 100px; height: 100px;" alt="image">
                </a>
                <h2 style="padding:20px ;">Youtube</h2>
             </div>
             <div style="width: 100px; float:left; height:100px;  margin:70px">
                <a class="Icon-Net nav-link" (click)="Netflix()">
                    <img [src]="'/assets/images/netflixlogo.png'" style="width: 100px; height: 100px;" alt="image">
                </a>
                <h2 style="padding:20px ;">zee5</h2>
            </div>
            <div style="width: 100px; float:left; height:100px; margin:70px">
                <a class="Icon-Net nav-link" (click)="Netflix()">
                    <img [src]="'/assets/images/netflixlogo.png'" style="width: 100px; height: 100px;" alt="image">
                </a>
                <h2 style="padding:20px ;">Prime</h2>
             </div>
             <div style="width: 100px; float:left; height:100px;  margin:70px">
                <a class="Icon-Net nav-link" (click)="Netflix()">
                    <img [src]="'/assets/images/netflixlogo.png'" style="width: 100px; height: 100px;" alt="image">
                </a>
                <h2 style="padding:20px ;">Netflix</h2>
            </div>
        </div>
    </div>
</div>