<div class="p-4">
    <div class="container">
        <h1 style="text-transform:capitalize;">Hi {{user.firstName}}!</h1>
        <p>Welcome to Subscription Management Tool</p>
        <!-- <p><a routerLink="/users">Manage Users</a></p> -->
        <div class="main" style="margin-top: 10px;">
            <div style="width: 100px; float:left; height:100px; margin:70px">
                <button id="close-image" (click)="Netflix()" class="Icon-Net nav-link">
                    <img [src]="'/assets/images/hotstar.png'" style="width: 100px; height: 100px;" alt="image">
                </button>
                <h2 style="padding:20px ;">Hotstar</h2>
            </div>
            <div style="width: 100px; float:left; height:100px;  margin:70px">
                <button id="close-image" (click)="Netflix()" class="Icon-Net nav-link">
                    <img [src]="'/assets/images/aha.png'" style="width: 100px; height: 100px;" alt="image">
                </button>
                <h2 style="padding:20px ;">Aha</h2>
            </div>
            <div style="width: 100px; float:left; height:100px; margin:70px">
                <button id="close-image" (click)="Netflix()" class="Icon-Net nav-link">
                    <img [src]="'/assets/images/youtube.png'" style="width: 100px; height: 100px;" alt="image">
                </button>
                <h2 style="padding:20px ;">Youtube</h2>
            </div>
            <div style="width: 100px; float:left; height:100px;  margin:70px">
                <button id="close-image" (click)="Netflix()" class="Icon-Net nav-link">
                    <img [src]="'/assets/images/zee5.png'" style="width: 100px; height: 100px;" alt="image">
                </button>
                <h2 style="padding:20px ;">zee5</h2>
            </div>
            <div style="width: 100px; float:left; height:100px; margin:70px">
                <button id="close-image" (click)="Netflix()" class="Icon-Net nav-link">
                    <img [src]="'/assets/images/Prime_Video.png'" style="width: 100px; height: 100px;" alt="image">
                </button>
                <h2 style="padding:10px ;">Prime</h2>
             </div>
             <div style="width: 100px; float:left; height:100px;  margin:70px">
                <button id="close-image" (click)="Netflix()" class="Icon-Net nav-link">
                    <img [src]="'/assets/images/netflixlogo.png'" style="width: 100px; height: 100px;" alt="image">
                </button>
                <h2 style="padding:10px ;">Netflix</h2>
            </div>
        </div>
    </div>
</div>